p,body {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background: #000000;
    color: rgba(255, 255, 255, 0.925);
}
h1{
    border: 7px solid rgb(121, 69, 10);
}
em strong{
    color: rgb(155, 111, 54);
}
.items{
    text-align: left;
    font-style: italic;
}
ul{
    
    display: inline-block;
    vertical-align:top;
    width: 20%;
    margin-right: 13%;
    
}
.diferenciadores{
    padding: 4px;
    color: black;
    background-color: rgb(155, 111, 54);
}
.diferencial{
    width: 34%;
}

